.guide {
    max-width: 23em;
    margin: 40px auto;
    text-align: center;
    background-color: rgba(250, 246, 246, 0.717);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
}

.button-seen {
    margin-bottom: 1em;
    display: block;
    width: 9em;
    font-size: 1em;
    color: rgb(232, 219, 219);
    padding: 8px 8px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto;
    text-align: center;
}


.guide ul {
    padding: 0;
    justify-content: center;
    margin-top: 25px;
}

.guide li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
    margin-top: 10px;
}

.guide li::after {
    content: ",";
}

.guide li:last-child::after {
    content: ".";
}

.style {
    text-align: center;
    line-height: 1.5em;
}

.guide.dark { 
    background-color: rgba(36, 32, 32, 0.758);
    color: #e4e4e4;
}

.guide-title {
    margin-top: 0.5em;
}

