.hero-list { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
}

@media (min-width: 3800px) {
    .hero-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45vw;
    }
}



@media (max-width: 1052px) {
    .hero-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 85vw;
    }
}

@media (max-width: 603px) {
    .hero-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
    }
}

.images-heroes {
    width: 7.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    transition: transform 0.075s ease-in-out;
}

@media (max-width: 1000px) {
    .images-heroes {
            width: 5em;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 8px;
            padding-left: 8px;
            transition: transform 0.075s ease-in-out;
        }
}

.images-heroes:hover {
    transform: scale(1.33);
    cursor: pointer;
}