.searchbar form {
    display: flex;
    align-items: center;
}

.searchbar input {
    margin-left: 10px;
}


@media (max-width: 920px) {
    .searchbar form {
        display: flex;
    }

    .searchbar input {
        display: flex;
    }
}