.welcome {
    display: flex;
    margin-top: 8em;
    flex-wrap: wrap;
}

@media (max-width: 1150px) {
    .welcome {
        margin-top: 2em;
    }
}

@media (max-width: 761px) {
    .welcome {
        margin-top: 1em;
    }

    .card-create-guides.dark {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 0.85em;
    }

    .card-create-guides.light {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 0.85em;
    }

    .card-always-free.dark {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 0.85em;
    }

    .card-always-free.light {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 0.85em;
    }

    .card-new-guides.dark {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 0.85em;
    }

    .card-new-guides.light {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 0.85em;
    }
}

.material-symbols-outlined {
    font-size: 3em;
    padding-top: 0.2em;
    padding-bottom: 0.140em;
    transition: transform 0.2s ease-in-out;
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
}

@media (max-width: 500px) {

}

.card-new-guides.light {
    flex-direction: column;
    max-width: 17em;
    margin-top: 2em;
    padding-top: 0.3em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(250, 246, 246, 0.717);
    padding-bottom: 1.2em;
    min-width: 17em;
    max-height: 9em;
    min-height: 8em;
    display: flex;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
    transition: transform 0.2s ease-in-out;
}

.card-new-guides.dark {
    flex-direction: column;
    max-width: 17em;
    margin-top: 2em;
    padding-top: 0.3em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(36, 32, 32, 0.42);
    padding-bottom: 1.2em;
    min-width: 17em;
    max-height: 9em;
    min-height: 8em;
    display: flex;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
    transition: transform 0.2s ease-in-out;
}

.card-always-free.light {
    flex-direction: column;
    max-width: 17em;
    margin-top: 2em;
    padding-top: 0.3em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(250, 246, 246, 0.717);
    padding-bottom: 1.2em;
    min-width: 17em;
    max-height: 9em;
    min-height: 8em;
    display: flex;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
    transition: transform 0.2s ease-in-out;
}

.card-always-free.dark {
    flex-direction: column;
    max-width: 17em;
    margin-top: 2em;
    padding-top: 0.3em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(36, 32, 32, 0.42);
    padding-bottom: 1.2em;
    min-width: 17em;
    max-height: 9em;
    min-height: 8em;
    display: flex;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
    transition: transform 0.2s ease-in-out;
}

.card-create-guides.light {
    flex-direction: column;
    max-width: 17em;
    margin-top: 2em;
    padding-top: 0.3em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(250, 246, 246, 0.717);
    padding-bottom: 1.2em;
    min-width: 17em;
    max-height: 9em;
    min-height: 8em;
    display: flex;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
    transition: transform 0.2s ease-in-out;
}

.card-create-guides.dark {
    flex-direction: column;
    max-width: 17em;
    margin-top: 2em;
    padding-top: 0.3em;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(36, 32, 32, 0.42);
    padding-bottom: 1.2em;
    min-width: 17em;
    max-height: 9em;
    min-height: 8em;
    display: flex;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.32);
    transition: transform 0.2s ease-in-out;
}

.card-create-guides.dark:hover,.card-create-guides.light:hover,.card-always-free.dark:hover,.card-always-free.light:hover,.card-new-guides.dark:hover,.card-new-guides.light:hover {
    transition: transform 0.35s ease-in-out;
    transform: scale(1.05)
}

.white-space {
    display: flex;
    flex-direction: column;
}