.hero-info.light {
    flex-direction: column;
    width: 15em;
    align-items: center;
    margin: auto;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(250, 246, 246, 0.717);
    padding-bottom: 1.2em;
}

.hero-info.dark {
    flex-direction: column;
    width: 15em;
    align-items: center;
    margin: auto;
    border-radius: 12px;
    text-align: center;
    background-color: rgba(36, 32, 32, 0.758);
    padding-bottom: 1.2em;
}

.empty-space {
    
}

@media (max-width: 768px) {
    .hero-info {
        flex-direction: column;
        width: 15em;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px;
        text-align: center;
        }
}




.hero-roles {
    list-style-type: none;
}

.hero-roles-ul {
    padding: 0;
    margin: 0;
}

.hero-img {
    margin-top: 1.2em;
    border-radius: 7px;
    
}


.title-hero-page{
    font-weight: bold;
    padding-top: 10px;
}

