.hero-info {
    flex-direction: column;
    flex-wrap: wrap;
    width: 30em;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    .hero-info {
        flex-direction: column;

        width: 15em;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid black;
        text-align: center;
        padding-bottom: 25px;
        margin-bottom: 10px;
        }
}




.hero-roles {
    list-style-type: none;
}

.hero-roles-ul {
    padding: 0;
    margin: 0;
}

.hero-img {
    margin-top: 25px;
    border: 2px solid black;
    
}


.title-hero-page{
    font-weight: bold;
    padding-top: 10px;
}

